body{
  font-family: 'Poppins', sans-serif;
  background-image: url("../images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%) ;
}

.container{
  margin: 100px;
}

.row{
  display: inline-flex;
}


.intro-card {
  box-sizing:border-box;
  color: white;
  max-width: 50%;
  padding: 150px 45px;
  text-align: left;
}

.signup-card{
  max-width: 50%;
  /* margin-right: 10%; */
}

.intro-heading{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 60px;
}

.intro-content{
  font-size: 16px;
}

.promo-button{
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  border-style: solid;
  border-color: hsl(248, 32%, 49%);
  box-shadow: 0 7px rgba(0, 0, 0, .15) ;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 15px 100px;
  margin: 20px auto;
}

.dim-text{
  color: hsl(246, 25%, 77%);
  font-weight: lighter;
}

.signup-form{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 7px rgba(0, 0, 0, .15) ;
  padding: 30px;
}

.input-box{
  border-radius: 5px;
  border-style: solid;
  border-color: LightGrey;
  border-width: 1px;
  box-sizing: border-box;
  color: hsl(249, 10%, 26%);
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 95%;
  margin: 2%;
  padding: 15px;
}

.input-box:hover{
  opacity: 0.9;
}

.claim-button{
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  border-color: hsl(154, 59%, 51%);
  border-style: solid;
  border-width: thin;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 2%;
  padding: 15px;
  text-align: center;
  width: 95%;
}

.claim-button:hover{
  opacity: 0.9;
}

.terms{
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: grey;
}

.terms-highlight{
  color:Red;
}

.terms-highlight:hover {
  text-decoration: underline;
}

@media (max-width:375px) {
  .container{
    margin:15px;
  }

  body{
    background-image: url("../images/bg-intro-mobile.png");
  }

  .row{
    display: inline-block;
  }

  .intro-card {
    max-width: 100%;
    margin: 50px auto 25px;
    padding: 5px;
    text-align: center;
  }

  .intro-heading{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 40px;
  }

  .signup-card{
    max-width: 100%;
  }

  .intro-content{
    line-height: 28px;
  }

  .signup-form{
    padding: 15px;
  }

  .promo-button{
    padding: 20px 50px;
  }

  .input-box{
    padding: 15px 20px;
    width: 95%;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .claim-button{
    padding: 15px 36px;
  }
}

.error-active{
  border-color: hsl(0, 100%, 74%);
  border-style: solid;
  border-width: 2px;
  display: inline-block;
}

.error-active::placeholder{
  color: hsl(0, 100%, 74%);
  opacity: 0.9;
  font-size: 14px;
}

.error{
  color: hsl(0, 100%, 74%);
  font-style: italic;
  font-size: 11px;
  text-align: right;
  width: 100%;
}

.error-span{
  box-sizing: border-box;
  display: inline-block;
  width: 96%;
}

.error-img{
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 95% 50% ;
}
